div p.tophead {
    font-family:'Comfortaa';
    font-size: 14px;
    text-align: center;
    color:#231f20;
    background-color: #eee;
    padding-top: 10px;
    padding-bottom: 10px;
    margin:-8px;
}
div ul {
    list-style-type: none;
    font-family: 'Comfortaa';
    
}
li.kata{
    float: right;  
    display: inline;
    padding: 7px;
    font-size: 14px;
}
li img.pict {
    width: 75px;
    margin-top: -7px;
    margin-left: -47px;
    margin-right: 50px;
}

li a{
    text-decoration: none;
}

.back {
    background-color: #231f20;
    padding-left: -8px;
    margin-left: -8px;
    padding-right: -8px;
    margin-right: -8px;
    
}

img.gallery2 {
    padding-left: 140px;
    width: 25%;
    height: 150px;
    background-color: #231f20;
    padding-right: 5px;
}

img.gallery {
    width: 25%;
    height: 150px;
    background-color: #231f20;
    padding-top: 10px;
    padding-left: 20px;
}

.row:after {
    content: "";
    display:table;
    clear: both;
    margin-right: 10px;
    margin-left: 10px;
}


.textfooter {
    background-color: rgb(33, 209, 209);
    color: #fff;
    font-family: 'Comfortaa';
    padding-top: 50px;
    padding-left: 70px;
    margin: -7px;
}

.textfooter2 {
    background-color: rgb(33, 209, 209);
    color: #fff;
    font-family: 'Comfortaa';
    padding-top: 10px;
    padding-bottom: 40px;
    padding-left: 70px;
    margin: -7px;
    font-size: 12px;
}

.column3 {
    float: left;
    width: 33.3%;
    padding: -65px;
    box-sizing: border-box;
    
}
.gbrfooter {
    margin-left: 75px;
    margin-right: -600px;
    width: 120px;
    height: 100px;
}
.endtext {
    font-family: 'Comfortaa';
    font-size: 13px;
    
}
.endtext2 {
    font-family: 'Comfortaa';
    font-size: 13px;
}

hr.dua { display: block; height: 1px;
    border: 0; border-top: 1px solid rgba(58, 49, 49, 0.12);
    margin: 1em 0; padding: 0; margin-left: 70px; margin-right: 70px; 
}

.endof {
    font-family: 'Comfortaa';
    text-align: center;
    font-size: 12px;
    padding-bottom: 10px;
    padding-top: 10px;
}